@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;;
    background-image: url(https://juliapizzeria.com/images/home/video-bk.png);
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 100%;
    
}



.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    min-height: 75vh;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo {
    color: #fece00;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    padding: 20px;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fff4ff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #fece00;
}

.menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-txt {
    width: 50%;
}

.header-txt h1 {
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    font-family: "Permanent Marker", cursive;
    color: #fece00;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.header-txt span {
    font-size: 40px;
    color: #fff4ff;
    font-family: "Permanent Marker", cursive;
}

p {
    font-size: 16px;
    color: #ffff;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    color: #ffff;
    padding: 13px 30px;
    background-color: #000000;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-1:hover {
    background-color: #ffcd31;
}

.header-img img {
    width: 700px;
}

.service {
    display: flex;
}
